[Interface]
PrivateKey = {{ .PrivateKey }}
Address = {{ StringsJoin .AllowedIPs ", " }}
DNS = {{ StringsJoin .DNSServers ", " }}

[Peer]
PublicKey = {{ .PublicKey }}
AllowedIPs = {{ StringsJoin .AllowedIPs ", " }}
Endpoint = {{ .ServerName }}
